.swiper-slide {
  padding: 0px 3rem;
  width: calc(100% - 6rem);
  min-height: 200px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 100px;
  position: fixed;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}

.w-50 {
  width: 50% !important;
}
.w-100 {
  width: 100% !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mb-1 {
  margin-top: 0.25rem;
}
.w-100 > .clr-select-wrapper {
  width: 100% !important;
}

.text-center {
  text-align: center;
}
.swiper-slide .chip {
  background: #106371;
  color: white;
  padding: 0.25rem 0.5rem;
  width: auto;
  line-height: 0.5rem;
  font-size: 0.5rem;
  box-shadow: 0px 0px 2px 1px #bababa;
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 4px;
}
.swiper-slide .chip.orange {
  background: #d8660e;
  cursor: pointer;
}

.swiper-slide .chip.blue {
  background: #136fb9;
  cursor: pointer;
}

.swiper-slide .chip.status {
  background: #e7e7e7;
  border: 1px solid #575757;
  cursor: pointer;
  color: #2d2c2c;
}

.swiper-slide .chip.red {
  background: #c72f2f;
  cursor: pointer;
}
.swiper-slide .chip.success {
  background: #057946;
  cursor: pointer;
}

.swiper-slide .chip.green {
  background: #2e8500;
  cursor: pointer;
}

ul.reset,
ul.reset li,
ul.reset ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}
.titleCurso {
  width: calc(100% - 50px);
  display: inline-block;
  border: none;
  border-bottom: 2px solid #9a9a9a;
}
.titleCurso:disabled {
  background: white;
  color: black;
}
.tablaCursos th,
.tablaCursos td {
  padding: 0 10px;
}
select {
  border-bottom: 2px solid #878787;
}
.clr-input:not([readonly]) {
}
.ng-autocomplete {
  width: 100%;
  max-width: 600px;
  display: inline-block;
  margin: 0 auto;
}
.autocomplete-container .suggestions-container ul li a {
  line-height: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.autocomplete-container .suggestions-container ul li a {
  padding: 4px 15px !important;
}
.swiper-button-next {
  margin-right: 10px;
}
.swiper-slide {
  padding-bottom: 40px;
}
.clr-input,
.clr-control-container {
  width: 100%;
}
.liRecursos {
  line-height: 1.5rem;
  list-style: none;
  margin-top: 10px;
  background: #e2e2e2;
  padding: 0 10px;
  border-radius: 4px;
}
.liRecursos ui-switch {
  float: right;
  margin-top: 4px;
}
.liRecursos .statusText {
  float: right;
  margin-right: 4px;
}
.searchAlumns {
  margin: 0;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-left: 5px;
  font-size: 0.5rem;
  padding: 6px;
  width: 100px;
}

.select2 {
  width: 450px;
  display: inline-block;
  margin-right: 30px;
}

.ngx-dropdown-container .ngx-dropdown-button {
  padding: 8px 10px 8px 10px;
}
