<h1>
  <clr-icon shape="administrator" size="30"></clr-icon> Administración
  <clr-icon shape="book" size="20" (click)="createCursos()"></clr-icon>
  Cursos
</h1>
<div>
  <div style="display: inline-block;">
    <!-- <button
      class="btn btn-info"
      (click)="clearedSearch()"
      *ngIf="this.coursesData.length > 0"
    >
      <clr-icon shape="filter-off"></clr-icon>
      Todos
    </button> -->
    <button class="btn btn-info" *ngIf="this.coursesData.length == 0">
      No tiene cursos asignados
    </button>
  </div>

  <div class="select2">
    <ngx-select-dropdown
      (change)="selectionChanged($event)"
      [multiple]="false"
      [(ngModel)]="cursoFilter"
      [config]="{
        displayKey: 'name',
        searchOnKey: 'name',
        search: 'true',
        noResultsFound: 'Sin resultados',
        searchPlaceholder: 'Search',
        placeholder: 'Listado'
      }"
      [options]="coursesData"
    ></ngx-select-dropdown>
  </div>

  <!--
<div class="ng-autocomplete mr-1" *ngIf="this.coursesData.length > 0">
    <ng-autocomplete
      [data]="coursesData"
      (selected)="selectEvent($event)"
      (inputCleared)="clearedSearch()"
      (closed)="closedSearch()"
      [searchKeyword]="'name'"
      (inputChanged)="onChangeSearch($event)"
      (inputFocused)="onFocused($event)"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
      placeHolder="Buscar especialidades..."
    >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      Sin resultados...
    </ng-template>
  </div>

  -->

  <div style="display: inline-block;">
    <button class="btn btn-secondary">
      <clr-icon shape="nodes"></clr-icon>
      {{ coursesData.length }}
    </button>

    <button
      class="btn btn-success"
      (click)="openModalNuevoCurso()"
      *ngIf="userData.type == 1"
    >
      <clr-icon shape="add-text"></clr-icon>
      &nbsp; Crear
    </button>
  </div>
</div>
<div class="content-area bg-ca mx-ca br-ca" *ngIf="coursesData.length > 0">
  <div
    class="swiper-container"
    [swiper]="configSwiper"
    (indexChange)="updateIndexSwipper()"
    [(index)]="indexSwiper"
    *ngIf="coursesData.length > 0"
  >
    <div class="swiper-wrapper" #swiperSector>
      <div
        class="swiper-slide"
        *ngFor="let curso of coursesData; let indexOfelement = index"
      >
        <div class="clr-row">
          <div class="clr-col-12">
            <div class="clr-row">
              <div class="clr-col-8">
                <h4 class="mt-0">
                  <input
                    type="text"
                    class="titleCurso"
                    [disabled]="disabledEditTitle"
                    [(ngModel)]="curso.name"
                    (change)="saveTitle($event, curso)"
                    (keyup)="saveTitle($event, curso)"
                    [id]="'it_' + curso.id"
                  />
                  <clr-icon
                    (click)="editTitle(curso)"
                    shape="pencil"
                    style="color: rgb(2, 82, 62); cursor: pointer;"
                  ></clr-icon>
                </h4>
              </div>
              <div class="clr-col-6" (click)="fixes()">
                Especialidad: {{ nameEspecialidad }}
              </div>
            </div>

            <div class="mt-1 mb-1">
              <div
                class="chip blue"
                (click)="modalMatricular(indexOfelement, curso)"
              >
                <clr-icon size="24" shape="plus-circle"></clr-icon>
              </div>
              <div class="chip">
                <clr-icon size="24" shape="users"></clr-icon>
                <b> {{ curso.alumnos.length }} </b> matriculados
                <input
                  type="search"
                  class="clr-form-control searchAlumns"
                  [(ngModel)]="searchAlumns"
                  placeholder="Buscar.."
                />
              </div>
              <div
                class="chip orange"
                (click)="modalCoordinador(curso)"
                *ngIf="userData.type == 1"
              >
                <clr-icon size="24" shape="assign-user"></clr-icon>
                Coord: {{ curso.name_coordinador }}
              </div>
              <div class="chip status" (click)="modalCambioStatus()">
                <clr-icon
                  size="24"
                  *ngIf="curso.status == 1"
                  shape="success-standard"
                ></clr-icon>
                <clr-icon
                  size="24"
                  *ngIf="curso.status == 2"
                  shape="unlink"
                ></clr-icon>
                {{ curso.status | statusCoursesActive }}
              </div>
              <div
                class="chip green"
                (click)="openModalRecursos(indexOfelement, curso)"
                *ngIf="userData.type == 1"
              >
                <clr-icon size="24" shape="file-group"></clr-icon>
                Recursos
              </div>
              <div
                class="chip red"
                (click)="openModalRemove(curso)"
                *ngIf="userData.type == 1"
              >
                <clr-icon size="24" shape="times"></clr-icon>
                Eliminar
              </div>
              <div class="chip success" (click)="excelReporte(curso)">
                <clr-icon size="24" shape="list"></clr-icon>
                REPORTE
              </div>
            </div>
          </div>
        </div>

        <div class="sectorTablaUSersMatriculados">
          <table class="tablaCursos mt-1" [id]="'tabla_' + curso.id">
            <thead>
              <th>Tipo de Documento</th>
              <th>Documento</th>
              <th>Nombre</th>
              <th>Información</th>
              <th>Desincorporar</th>
              <th>Matriculado por</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let alumno of curso.alumnos
                    | filterall: 'identity,firstName,lastName':searchAlumns;
                  let indexOfAlumn = index
                "
              >
                <td>{{ alumno.identityType | typeIdentity }}</td>
                <td>{{ alumno.identity }}</td>
                <td>{{ alumno.firstName + " " + alumno.lastName }}</td>
                <td class="text-center">
                  <clr-icon
                    shape="info"
                    size="20"
                    (click)="infoUser(alumno)"
                    style="color: blue; cursor: pointer;"
                  ></clr-icon>
                </td>
                <td class="text-center">
                  <clr-icon
                    shape="times-circle"
                    (click)="desMatricular(indexOfelement, indexOfAlumn, curso)"
                    style="color: red; cursor: pointer;"
                  ></clr-icon>
                </td>
                <td>
                  {{ alumno.name_user_create }}
                  {{ alumno.name_user_create ? "|" : "" }}
                  {{ alumno.date_create | date: "dd-MM-yyyy h:mm:ss a" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="modalAddAlumno">
  <h3 class="modal-title">Matricular alumno al curso</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-6">
        <clr-select-container>
          <label>Tipo Doc.</label>
          <select
            clrSelect
            [(ngModel)]="alumnoData.identityType"
            name="identityType"
          >
            <option value="dni">DNI</option>
            <option value="passport">Pasaporte</option>
            <option value="ce">Carnet de Extranjeria</option>
          </select>
        </clr-select-container>
      </div>
      <div class="clr-col-6">
        <clr-input-container>
          <label>Número</label>
          <input
            clrInput
            type="text"
            autofocus
            [(ngModel)]="alumnoData.identity"
            name="identity"
            required
          />
        </clr-input-container>
      </div>
      <div class="clr-col-6">
        <clr-input-container *ngIf="showFormAlum">
          <label>Nombres</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="alumnoData.firstName"
            name="firstName"
          />
        </clr-input-container>
      </div>

      <div class="clr-col-6">
        <clr-input-container *ngIf="showFormAlum">
          <label>Apellidos</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="alumnoData.lastName"
            name="lastName"
          />
        </clr-input-container>
      </div>
      <div class="clr-col-6">
        <clr-input-container *ngIf="showFormAlum">
          <label>Teléfono</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="alumnoData.phone"
            prefix="+51 "
            mask="000 000 000"
            name="phone"
          />
        </clr-input-container>
      </div>
      <div class="clr-col-6">
        <clr-input-container *ngIf="showFormAlum">
          <label>Correo Electrónico</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="alumnoData.email"
            name="email"
          />
        </clr-input-container>
      </div>
    </div>

    <button
      class="btn btn-primary"
      *ngIf="!showFormAlum"
      (click)="buscarAlumno()"
    >
      Buscar
    </button>
    <button class="btn btn-success" *ngIf="showFormAlum" (click)="matricular()">
      <clr-icon shape="plus"></clr-icon>
      Matricular
    </button>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalAddAlumno = false"
    >
      <clr-icon shape="times"></clr-icon> Cancelar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalEditCoordinador" id="modalEditor">
  <h3 class="modal-title">Asignar Coordinador de este curso</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-12">
        <clr-select-container class="w-100">
          <label>Coordinador</label>
          <select
            clrSelect
            [(ngModel)]="coordSelect"
            name="coordSelect"
            class="w-100"
          >
            <option [ngValue]="{ id: '' }">Sin Coordinador</option>
            <option [ngValue]="coord" *ngFor="let coord of coordData">{{
              coord.firstName + " " + coord.lastName
            }}</option>
          </select>
        </clr-select-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveCoordinador()">
      <clr-icon shape="floppy"></clr-icon> GUARDAR
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalStatusCurso" id="modalStatusCurso">
  <h3 class="modal-title">Cambiar estado de este curso</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-12">
        <clr-select-container class="w-100">
          <label>Estado:</label>
          <select
            clrSelect
            [(ngModel)]="statusSelect"
            name="coordSelect"
            class="w-100"
          >
            <option [value]="1">Activo</option>
            <option [value]="2">Inactivo</option>
          </select>
        </clr-select-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveStatus()">
      <clr-icon shape="floppy"></clr-icon> GUARDAR
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalNuevoCurso" id="modalNuevoCurso">
  <h3 class="modal-title">Nuevo Curso</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-form-control">
        <form clrForm>
          <div class="clr-col-12">
            <clr-select-container class="w-100">
              <label>Especialidad:</label>
              <select
                clrSelect
                [(ngModel)]="newCurso.id_curso"
                name="coordSelect"
                class="w-100"
              >
                <option *ngFor="let item of especialidades" [value]="item.id">{{
                  item.name
                }}</option>
              </select>
            </clr-select-container>
          </div>
          <div class="clr-col-12">
            <clr-input-container class="w-100">
              <label>Nombre</label>
              <input
                clrInput
                type="text"
                [(ngModel)]="newCurso.name"
                name="lastName"
                class="w-100"
              />
            </clr-input-container>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="saveNewCurso()">
      <clr-icon shape="floppy"></clr-icon> GUARDAR
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalRemove">
  <h3 class="modal-title">¿Esta seguro de eliminar este curso?</h3>
  <div class="modal-body">
    <p>
      Esta operación no podra ser revertida!
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalRemove = false">
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDeleteCurso()">
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalInfoAlumno">
  <h3 class="modal-title">Información de Alumno</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-6 mt-1">
        <div><b>Documento</b></div>
        <div>{{ userInfoData.identityType | typeIdentity }}</div>
      </div>
      <div class="clr-col-6 mt-1">
        <div><b>Numero</b></div>
        <div>{{ userInfoData.identity }}</div>
      </div>
      <div class="clr-col-6 mt-1">
        <div><b>Nombres</b></div>
        <div>{{ userInfoData.firstName }}</div>
      </div>
      <div class="clr-col-6 mt-1">
        <div><b>Apellidos</b></div>
        <div>{{ userInfoData.lastName }}</div>
      </div>
      <div class="clr-col-6 mt-1">
        <div><b>Telefono</b></div>
        <div>{{ userInfoData.phone }}</div>
      </div>
      <div class="clr-col-6 mt-1">
        <div><b>Correo Electronico</b></div>
        <div>{{ userInfoData.email }}</div>
      </div>
      <div class="clr-col-6 mt-1">
        <div><b>Estatus</b></div>
        <div
          [ngClass]="{
            'text-success': userInfoData.active,
            'text-danger': !userInfoData.active
          }"
        >
          {{ userInfoData.active ? "Activo" : "Inactivo" }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalInfoAlumno = false"
    >
      <clr-icon shape="times"></clr-icon> Cerrar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalRecursos">
  <h3 class="modal-title">
    Materiales audiovisuales de este curso
    <button
      type="button"
      class="btn btn-success"
      title="Actualizar recursos desde especialidades"
      (click)="refreshRecursos()"
    >
      <clr-icon shape="refresh"></clr-icon> {{ nameEspecialidad }}
    </button>
  </h3>
  <div class="modal-body" *ngIf="modalRecursos">
    <div class="clr-row">
      <div class="clr-col-12 mt-1">
        <div>
          <clr-tabs>
            <clr-tab>
              <button clrTabLink (click)="tabBooks = true">
                <clr-icon shape="book"></clr-icon> Libros
              </button>
              <ng-template [(clrIfActive)]="tabBooks">
                <clr-tab-content>
                  <ul>
                    <!--
  <li *ngIf="cursoSelect.pruebas.length == 0">
                      Actualmente no hay elementos disponibles
                    </li>
                  -->
                    <li
                      *ngFor="let item of cursoSelect.libros"
                      class="liRecursos"
                    >
                      <ui-switch
                        size="small"
                        [(ngModel)]="item.active"
                      ></ui-switch>
                      {{ item.name }}
                      <span
                        class="statusText"
                        [ngClass]="{ 'text-success': item.active }"
                      >
                        {{ item.active ? "Activo" : "Inactivo" }}
                      </span>
                    </li>
                  </ul>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
            <clr-tab>
              <button clrTabLink (click)="tabVideos = true">
                <clr-icon shape="video-gallery"></clr-icon> Videos
              </button>
              <ng-template [(clrIfActive)]="tabVideos">
                <clr-tab-content>
                  <ul>
                    <li *ngIf="cursoSelect.pruebas.length == 0">
                      Actualmente no hay elementos disponibles
                    </li>
                    <li
                      *ngFor="let item of cursoSelect.videos"
                      class="liRecursos"
                    >
                      <ui-switch
                        size="small"
                        [(ngModel)]="item.active"
                      ></ui-switch>
                      {{ item.name }}
                      <span
                        class="statusText"
                        [ngClass]="{ 'text-success': item.active }"
                      >
                        {{ item.active ? "Activo" : "Inactivo" }}
                      </span>
                    </li>
                  </ul>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
            <clr-tab>
              <button clrTabLink (click)="tabMaterials = true">
                <clr-icon shape="folder"></clr-icon>
                Recursos
              </button>
              <ng-template [(clrIfActive)]="tabMaterials">
                <clr-tab-content>
                  <ul>
                    <li *ngIf="cursoSelect.pruebas.length == 0">
                      Actualmente no hay elementos disponibles
                    </li>
                    <li
                      *ngFor="let item of cursoSelect.materiales"
                      class="liRecursos"
                    >
                      <ui-switch
                        size="small"
                        [(ngModel)]="item.active"
                      ></ui-switch>
                      {{ item.name }}
                      <span
                        class="statusText"
                        [ngClass]="{ 'text-success': item.active }"
                      >
                        {{ item.active ? "Activo" : "Inactivo" }}
                      </span>
                    </li>
                  </ul>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
            <clr-tab>
              <button clrTabLink (click)="tabPruebas = true">
                <clr-icon shape="list"></clr-icon>
                Pruebas
              </button>
              <ng-template [(clrIfActive)]="tabPruebas">
                <clr-tab-content>
                  <ul>
                    <li *ngIf="cursoSelect.pruebas.length == 0">
                      Actualmente no hay elementos disponibles
                    </li>
                    <li
                      *ngFor="let item of cursoSelect.pruebas"
                      class="liRecursos"
                    >
                      <ui-switch
                        size="small"
                        [(ngModel)]="item.active"
                      ></ui-switch>
                      {{ item.name }}
                      <span
                        class="statusText"
                        [ngClass]="{ 'text-success': item.active }"
                      >
                        {{ item.active ? "Activo" : "Inactivo" }}
                      </span>
                    </li>
                  </ul>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
          </clr-tabs>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="saveEstatusRecursos()"
    >
      <clr-icon shape="floppy"></clr-icon> Guardar
    </button>
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalRecursos = false"
    >
      <clr-icon shape="times"></clr-icon> Cerrar
    </button>
  </div>
</clr-modal>
