<h1><clr-icon shape="help" size="20"></clr-icon> Pruebas de los usuarios</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink (click)="getTestsDataPending()">
        Pruebas pendientes por evaluar
        <span class="badge badge-info">{{
          (
            testPendingData
            | filterMultiple
              : {
                  id_area: filters.area,
                  name_user: filters.user,
                  email_user: filters.email
                }
          )?.length
        }}</span>
      </button>
      <ng-template [(clrIfActive)]="tabTestPending">
        <clr-tab-content>
          <div class="clr-row w-100">
            <div class="clr-col-12">
              <h3>Filtros y ordenamiento</h3>
              <form class="clr-form clr-form-horizontal">
                <div class="clr-row">
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-select-container>
                      <label>Curso</label>
                      <select
                        clrSelect
                        [(ngModel)]="filters.area"
                        class="mw-200 w-100"
                        name="area"
                      >
                        <option value="">Todos</option>
                        <option
                          *ngFor="let area of cursosData"
                          [ngValue]="area"
                          >{{ area.name }}</option
                        >
                      </select>
                    </clr-select-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-input-container>
                      <label>Alumno:</label>
                      <input
                        clrInput
                        type="text"
                        [(ngModel)]="filters.user"
                        name="user"
                      />
                    </clr-input-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-input-container>
                      <label>Correo:</label>
                      <input
                        clrInput
                        type="text"
                        [(ngModel)]="filters.email"
                        name="email"
                      />
                    </clr-input-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-select-container>
                      <label>Ordenar por</label>
                      <select
                        clrSelect
                        [(ngModel)]="filters.order"
                        name="order"
                        (change)="orderList()"
                      >
                        <option value="new">Mas Reciente</option>
                        <option value="old">Mas Antiguo</option>
                      </select>
                    </clr-select-container>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="clr-row w-100">
            <div
              class="clr-col-md-6 clr-col-12"
              *ngFor="
                let test of testPendingData
                  | filterMultiple
                    : {
                        id_area: filters.area,
                        name_user: filters.user,
                        email_user: filters.email
                      }
                  | paginate: { itemsPerPage: 8, currentPage: p }
              "
            >
              <div class="card">
                <div class="card-header">
                  <clr-icon shape="list" size="18"></clr-icon>&nbsp;
                  {{ test.name }}
                  <small> - {{ test.questions.length }} Preguntas </small>
                </div>
                <div class="card-block">
                  <a class="btnFree btn btn-outline-success">
                    <clr-icon shape="tag"></clr-icon>

                    Curso: {{ test.name_area }}
                  </a>
                </div>
                <app-history-test
                  [test]="test"
                  type="resume"
                  section="teacher"
                ></app-history-test>
              </div>
            </div>
          </div>
          <div *ngIf="!(testPendingData.length > 0)">
            <div class="text-center pt-1">
              <clr-icon shape="list" size="60"></clr-icon>
              <h3>Excelente, no tienes nada pendiente por los momentos.</h3>
            </div>
          </div>
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
          >
          </pagination-controls>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="getTestsDataHistory()">
        Pruebas evaluadas
        <span class="badge badge-success">{{
          (
            testHistoryData
            | filterMultiple
              : {
                  id_area: filters.area,
                  name_user: filters.user,
                  email_user: filters.email
                }
          )?.length
        }}</span>
      </button>
      <ng-template [(clrIfActive)]="tabTestHistory">
        <clr-tab-content>
          <div class="clr-row w-100">
            <div class="clr-col-12">
              <h3>Filtros y ordenamiento</h3>
              <form class="clr-form clr-form-horizontal">
                <div class="clr-row">
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-select-container>
                      <label>Curso</label>
                      <select
                        clrSelect
                        [(ngModel)]="filters.area"
                        class="w-100"
                        name="area"
                      >
                        <option value="">Todos</option>
                        <option
                          *ngFor="let area of cursosData"
                          [ngValue]="area"
                          >{{ area.name }}</option
                        >
                      </select>
                    </clr-select-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-input-container>
                      <label>Alumno:</label>
                      <input
                        clrInput
                        type="text"
                        [(ngModel)]="filters.user"
                        name="user"
                      />
                    </clr-input-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-input-container>
                      <label>Correo:</label>
                      <input
                        clrInput
                        type="text"
                        [(ngModel)]="filters.email"
                        name="email"
                      />
                    </clr-input-container>
                  </div>
                  <div class="clr-col-12 clr-col-md-3">
                    <clr-select-container>
                      <label>Ordenar por</label>
                      <select
                        clrSelect
                        [(ngModel)]="filters.order"
                        name="order"
                        (change)="orderListEvaluate()"
                      >
                        <option value="new">Mas reciente</option>
                        <option value="old">Mas Antiguo</option>
                      </select>
                    </clr-select-container>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="clr-row w-100">
            <div
              class="clr-col-md-6 clr-col-12"
              *ngFor="
                let test of testHistoryData
                  | filterMultiple
                    : {
                        id_area: filters.area,
                        name_user: filters.user,
                        email_user: filters.email
                      }
                  | paginate: { itemsPerPage: 8, currentPage: p };
                let i = index
              "
            >
              <div class="card">
                <div class="card-header">
                  <clr-icon shape="list" size="18"></clr-icon>&nbsp;
                  {{ test.name }}
                  <small>
                    -
                    {{ test.questions.length }} Preguntas
                  </small>
                </div>
                <div class="card-block">
                  <a class="btnFree btn btn-outline-success">
                    <clr-icon shape="tag"></clr-icon>
                    Curso: {{ test.name_area }}
                  </a>
                </div>
                <app-history-test
                  [test]="test"
                  type="resume"
                  section="teacher"
                ></app-history-test>
              </div>
            </div>
          </div>
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
          >
          </pagination-controls>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>
