.clr-form-horizontal .clr-form-control > .clr-control-label,
.clr-form-horizontal
  .clr-form-control
  > .clr-form-control.clr-form-control-multi
  .clr-control-label {
  width: auto !important;
}

.mw-200 {
  max-width: 200px !important;
}
