<h1>
  <clr-icon shape="administrator" size="20"></clr-icon> Administración
  <clr-icon shape="book" size="20"></clr-icon>
  Libros
</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <button
    class="btn btn-success"
    routerLink="/admin/libros/nuevo"
    routerLinkActive="active"
  >
    <clr-icon shape="plus"></clr-icon>Nuevo
  </button>

  <div *ngIf="inLoad">
    Cargando...
    <div class="progress loop"><progress></progress></div>
  </div>

  <clr-datagrid *ngIf="!inLoad">
    <clr-dg-column [clrDgField]="'name'">Nombre</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Descripción</clr-dg-column>
    <clr-dg-column [clrDgField]="'id_embed'"
      >Codigo de Incrustacíón</clr-dg-column
    >
    <clr-dg-column>Editar</clr-dg-column>

    <clr-dg-row *clrDgItems="let book of booksData" [clrDgItem]="book">
      <clr-dg-cell>{{ book.name }}</clr-dg-cell>
      <clr-dg-cell>{{ book.description }}</clr-dg-cell>
      <clr-dg-cell>{{ book.id_embed }}</clr-dg-cell>
      <clr-dg-cell>
        <clr-icon
          class="cursor"
          shape="pencil"
          [routerLink]="'/admin/libros/editar/' + book.id"
          routerLinkActive="active"
        >
        </clr-icon>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-placeholder>Cargando Libros....</clr-dg-placeholder>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
          >Libros por página</clr-dg-page-size
        >
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de
        {{ pagination.totalItems }} libros
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
