<clr-header class="header-5">
  <div class="branding">
    <a href="..." class="nav-link">
      <img
        src="https://i.ibb.co/BsBkh3x/esconfa-mini.png"
        alt="ESCONFA"
        width="64"
      />
      <span class="title">{{ name_company }}</span>
    </a>
  </div>
  <div class="header-nav">
    <a href="#" class="nav-link"><span class="nav-text">Inicio</span></a>
    <a
      *ngIf="userLoad && userData.type === 2"
      routerLink="/cursos"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Mis Cursos</span></a
    >
    <a
      *ngIf="
        userLoad &&
        (userData.type == 1 || userData.type == 3 || userData.type == 4)
      "
      routerLink="/profesor/test/lista"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Pruebas</span></a
    >
    <a
      *ngIf="userLoad && userData.type == 1"
      routerLink="/admin/especialidades"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Especialidades</span></a
    >
    <a
      *ngIf="userLoad && (userData.type == 1 || userData.type == 4)"
      routerLink="/admin/cursos"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Cursos</span></a
    >
    <a
      *ngIf="userLoad && userData.type == 1"
      routerLink="/admin/usuarios"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Usuarios</span></a
    >
  </div>
  <div class="header-actions">
    <button class="nav-text btn-transparent" (click)="reloadFull()">
      <clr-icon shape="refresh" class="text-white"></clr-icon>
    </button>
    <clr-dropdown>
      <button
        class="nav-text"
        clrDropdownTrigger
        aria-label="toggle settings menu"
      >
        <clr-icon shape="user"></clr-icon>
        <span class="hideMobile"> {{ userData.firstName }} </span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a
          href="..."
          clrDropdownItem
          routerLink="/usuario"
          routerLinkActive="active"
          >Mi cuenta</a
        >
        <a
          href="..."
          clrDropdownItem
          routerLink="/contacto"
          routerLinkActive="active"
          >Contacto</a
        >
        <a href="#" clrDropdownItem (click)="authservice.LogOut()">Salir</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
