<h1 *ngIf="userData !== undefined">
  Hola {{ userData.firstName }}, {{ textSaludo }}!
</h1>
<div>A continuación te mostramos lo que puedes hacer</div>

<div class="content-area bg-ca mx-ca br-ca">
  <div class="clr-row" *ngIf="userData.type === 2; else rowPruebasProfesor">
    <div class="clr-col-md-4 clr-col-12">
      <div class="card">
        <div class="card-header">
          Mis Cursos
        </div>
        <div class="card-block">
          Esta es la sección de tus cursos asignados.
        </div>
        <div class="card-footer">
          <a
            class="btn btn-success"
            routerLink="/cursos"
            routerLinkActive="active"
          >
            <clr-icon shape="list"></clr-icon>
            Ir a mis Cursos
          </a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #rowPruebasProfesor>
    <div class="clr-row">
      <div class="clr-col-md-4 clr-col-12">
        <div class="card">
          <div class="card-header">
            Sección de pruebas
          </div>
          <div class="card-block">
            En esta seccion podras evaluar las pruebas realizadas, y ver el
            historial.
          </div>
          <div class="card-footer">
            <a
              class="btn btn-primary"
              routerLink="/profesor/test/lista"
              routerLinkActive="active"
            >
              <clr-icon shape="bullet-list"></clr-icon>
              Ver y evaluar pruebas
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
