.testUser .card .card-header span {
  float: left;
  margin-right: 4px;
}

span.ck-file-dialog-button {
  display: none !important;
}

.content-container .card .card-header span {
  float: left;
  margin-right: 4px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .contenedor-formulario {
    width: 400px;
  }

  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;

    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
}
