<h1>
  <clr-icon shape="list" size="20"></clr-icon>&nbsp; Prueba:
  {{ pruebaData.name }}
</h1>
<small> Numero de preguntas: {{ pruebaData.questions.length }} </small>
<div class="content-area bg-ca mx-ca br-ca">
  <div *ngIf="inLoad">
    Cargando...
    <div class="progress loop"><progress></progress></div>
  </div>
  <div
    class="content-container adjustmobile"
    *ngIf="pruebaData.status === 1 || pruebaData.status === 2"
  >
    <div class="w-100 text-center">
      <button
        class="btn btn-primary"
        routerLink="/profesor/test/lista"
        routerLinkActive="false"
      >
        <clr-icon shape="list"></clr-icon>Ir a listado de pruebas
      </button>
    </div>
  </div>
  <div class="content-container">
    <div class="card">
      <div class="card-header">
        <h3>Información detallada</h3>
      </div>
      <div class="card-block">
        <a class="btnFree btn btn-outline-success" style="max-width: 100%;">
          <clr-icon shape="tag"></clr-icon>
          Curso: {{ pruebaData.name_area }}
        </a>
      </div>
      <app-history-test [test]="pruebaData" type="detail" section="teacher">
      </app-history-test>
    </div>
  </div>
  <div class="adjustmobile testUser" *ngIf="!inLoad">
    <div class="clr-row">
      <div class="clr-col-12 text-center">
        <h4 *ngIf="pruebaData.status === 1 || pruebaData.status === 2">
          Preguntas:
        </h4>
      </div>
    </div>

    <div class="clr-row w-100 adjustmobile-m0">
      <div
        class="clr-col-12"
        *ngFor="let question of pruebaData.questions; index as i"
      >
        <div class="card">
          <div class="card-header">
            <div
              [innerHTML]="'<span>' + (i + 1) + ') </span> ' + question.text"
            ></div>
            <div class="card-block" *ngIf="pruebaData.status == 0">
              <ckeditor
                [config]="configEditor"
                [(ngModel)]="question.answer"
                [editor]="Editor"
              ></ckeditor>
            </div>
            <div
              class="card-block p-0"
              *ngIf="pruebaData.status === 1 || pruebaData.status === 2"
            >
              <p [innerHTML]="question.answer" class="answer-html p-1"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!inLoad && pruebaData.status == 1">
      <div class="content-container w-100 clr-justify-content-center pt-1">
        <clr-select-container>
          <label>
            <h3>Puntaje</h3>
          </label>
          <select clrSelect [(ngModel)]="pruebaData.score" name="score">
            <option
              *ngFor="
                let number of [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  7,
                  8,
                  9,
                  10,
                  11,
                  12,
                  13,
                  14,
                  15,
                  16,
                  17,
                  18,
                  19,
                  20
                ]
              "
              [value]="number"
            >
              {{ number }}</option
            >
          </select>
        </clr-select-container>
      </div>
      <div class="content-container w-100 clr-justify-content-center pt-1">
        <div>
          <button class="btn btn-success" (click)="modalConfirmEvaluateOpen()">
            <clr-icon shape="success-standard"></clr-icon> Guardar Evaluación
          </button>
        </div>
      </div>
    </div>
  </div>

  <clr-modal [(clrModalOpen)]="modalConfirmEvaluate">
    <h3 class="modal-title">
      ¿Estas seguro(a) de definir la evaluación para la prueba?
    </h3>
    <div class="modal-body">
      <div *ngIf="!resultSaveTest.saved">
        <div class="card-block">
          <div>
            <h3>
              Puntaje asignado: <b> {{ pruebaData.score }}</b>
            </h3>
          </div>
          <div class="pt-1">
            Comentario sobre la evaluación
            <!--  <ckeditor
              [config]="{ language: 'es' }"
              [(ngModel)]="pruebaData.comments"
              [editor]="Editor"
            ></ckeditor> -->
            <textarea
              name="comments"
              class="w-100"
              id="comments"
              [(ngModel)]="pruebaData.comments"
              rows="10"
            ></textarea>
          </div>
          <div *ngIf="pruebaData.attachs && pruebaData.attachs.length > 0">
            <h4>
              Archivos adjuntos actualmente:
            </h4>
            <ul>
              <li *ngFor="let file of pruebaData.attachs; index as i">
                <a [href]="file.url" download>
                  <b> Archivo {{ i + 1 }} </b>
                </a>
              </li>
            </ul>
          </div>
          <div class="contenedor_formulario">
            <h4 class="is-size-1">Adjuntar archivos sobre la evaluación</h4>
            <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
              <div class="file has-name is-boxed">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    formControlName="archivo"
                    (change)="cambioArchivo($event)"
                  />
                  <span class="file-cta"> </span>
                  <div class="file-name">
                    {{ mensajeArchivo }}
                  </div>
                </label>
              </div>
              <hr />
              <progress
                *ngIf="porcentaje > 0 && porcentaje < 100"
                class="progress is-large is-success"
                value="{{ porcentaje }}"
                max="100"
                >{{ porcentaje }}%</progress
              >
              <button
                *ngIf="nombreArchivo !== ''"
                [ngClass]="{
                  'btn btn-primary': true,
                  'is-loading': porcentaje > 0 && porcentaje < 100
                }"
                [disabled]="
                  !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                "
              >
                Agregar archivo
              </button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="resultSaveTest.inSave">
        Guardando...
        <div class="progress loop"><progress></progress></div>
      </div>
      <div *ngIf="resultSaveTest.saved">
        <h4>Se ha guardado la evaluacion correctamente!</h4>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline"
        (click)="modalConfirmEvaluate = false"
      >
        <clr-icon shape="times"></clr-icon> No, Cancelar
      </button>
      <button
        type="button"
        [hidden]="resultSaveTest.inSave && !resultSaveTest.saved"
        class="btn btn-success"
        (click)="saveTestEvaluation()"
      >
        <clr-icon shape="success-standard"></clr-icon> Si, Guardar
      </button>
    </div>
  </clr-modal>
</div>
