.main-container .content-container .content-area > :first-child {
  margin-top: initial !important;
}

.float-right {
  float: right;
}

.mt-0 {
  margin-top: initial !important;
}

.clr-form-control.clr-row.clr-align-items-center {
  background: #f2f2f2;
  box-shadow: 0px 0px 1px #6a6a6a;
}

.blstyle {
  border-left: 2px solid #106371;
  padding-left: 0.5rem;
}

.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button {
  padding: 5px !important;
}

.fa {
  font-size: 14px !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}
