<h1>
  <clr-icon shape="administrator" size="20"></clr-icon> Administración
  <clr-icon shape="play" size="20"></clr-icon> Curso
</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <a
    class="btn btn-primary"
    routerLink="/admin/especialidades"
    routerLinkActive="active"
  >
    <clr-icon shape="list"></clr-icon>Ir a listado
  </a>

  <a
    class="btn btn-success mt-0"
    [routerLink]="['/especialidades', cursoData.id]"
    routerLinkActive="active"
    target="_blank"
    id="previewCurso"
  >
    <clr-icon shape="list"></clr-icon>Ver el curso como alumno
  </a>

  <div class="clr-row" #sectorTop>
    <div class="clr-col-md-6 clr-col-12">
      <h4>Curso: {{ cursoData.name }}</h4>
      <form clrForm>
        <clr-input-container>
          <label>Nombre</label>
          <input
            clrInput
            type="text"
            [disabled]="disableForm"
            [(ngModel)]="cursoData.name"
            name="name"
            required
          />
          <clr-control-error>Este campo es necesario</clr-control-error>
        </clr-input-container>
        <clr-textarea-container>
          <label>Desc.</label>
          <textarea
            clrTextarea
            [disabled]="disableForm"
            [(ngModel)]="cursoData.description"
            name="description"
          ></textarea>
        </clr-textarea-container>

        <div
          class="clr-form-control clr-row clr-align-items-center"
          *ngIf="cursoData.id"
        >
          <label class="clr-control-label clr-col-12 clr-col-md-2">
            Libros
          </label>
          <div class="blstyle">
            <button
              class="btn btn-outline"
              (click)="formNewLibro()"
              [disabled]="disableForm"
            >
              <clr-icon shape="add"></clr-icon>Agregar libro
            </button>
            <ul class="list">
              <li
                *ngFor="let libro of cursoData.libros; index as i"
                (click)="loadDetailLibro(libro, i)"
              >
                <button href="#" class="btn btn-link" [disabled]="disableForm">
                  <clr-icon shape="book"></clr-icon> {{ libro.name }}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="clr-form-control clr-row clr-align-items-center"
          *ngIf="cursoData.id"
        >
          <label class="clr-control-label clr-col-12 clr-col-md-2">
            Videos
          </label>
          <div class="blstyle">
            <button
              class="btn btn-outline"
              (click)="formNewVideo()"
              [disabled]="disableForm"
            >
              <clr-icon shape="add"></clr-icon>Agregar video
            </button>
            <ul class="list">
              <li
                *ngFor="let video of cursoData.videos; index as i"
                (click)="loadDetailVideo(video, i)"
              >
                <button href="#" class="btn btn-link" [disabled]="disableForm">
                  <clr-icon shape="video-camera"></clr-icon> {{ video.name }}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="clr-form-control clr-row clr-align-items-center"
          *ngIf="cursoData.id"
        >
          <label class="clr-control-label clr-col-12 clr-col-md-2">
            Recursos
          </label>
          <div class="blstyle">
            <button
              class="btn btn-outline"
              (click)="formNewMaterial()"
              [disabled]="disableForm"
            >
              <clr-icon shape="add"></clr-icon>Agregar recurso
            </button>
            <ul class="list">
              <li
                *ngFor="let material of cursoData.materiales; index as i"
                (click)="loadDetailMaterial(material, i)"
              >
                <button href="#" class="btn btn-link" [disabled]="disableForm">
                  <clr-icon shape="file-group"></clr-icon> {{ material.name }}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="clr-form-control clr-row clr-align-items-center"
          *ngIf="cursoData.id"
        >
          <label class="clr-control-label clr-col-12 clr-col-md-2">
            Pruebas
          </label>
          <div class="blstyle">
            <button
              class="btn btn-outline"
              (click)="formNewTest()"
              [disabled]="disableForm"
            >
              <clr-icon shape="add"></clr-icon>Agregar prueba
            </button>
            <ul class="list">
              <li
                *ngFor="let prueba of cursoData.pruebas; index as i"
                (click)="loadDetailTest(prueba, i)"
              >
                <button href="#" class="btn btn-link" [disabled]="disableForm">
                  <clr-icon shape="list"></clr-icon> {{ prueba.name }}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="pt-1">
          <button
            class="btn btn-success"
            (click)="store()"
            [disabled]="disableForm"
          >
            <clr-icon shape="floppy"></clr-icon> Guardar
          </button>
          <button
            class="btn btn-danger"
            (click)="deleteCurso()"
            [disabled]="disableForm"
            *ngIf="cursoData.id"
          >
            <clr-icon shape="trash"></clr-icon> Eliminar
          </button>
        </div>
      </form>
    </div>
    <div class="clr-col-md-6 clr-col-12">
      <div class="bg-white" *ngIf="disableForm && inEdit == 'libro'">
        <h4>
          <clr-icon shape="book"></clr-icon>
          {{ newLibro.name }} (
          {{ newLibro.id ? "Editar Libro" : "Nuevo Libro" }} )
        </h4>
        <form clrForm>
          <clr-input-container>
            <label>Nombre</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newLibro.name"
              name="libroname"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-textarea-container>
            <label>Desc.</label>
            <textarea
              clrTextarea
              [(ngModel)]="newLibro.description"
              name="librodescription"
            ></textarea>
          </clr-textarea-container>
          <clr-input-container>
            <label>Id Incrustación (YUMPU)</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newLibro.id_embed"
              name="libroembed"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>

          <h5>Vista Previa del libro</h5>
          <div
            id="yumpuMagazineContainer"
            style="width: 400px; height: 320px;"
          ></div>

          <div class="pt-1">
            <button class="btn btn-success" (click)="storeLibro(newLibro)">
              <clr-icon shape="add"></clr-icon> Guardar Libro
            </button>
            <button
              class="btn btn-danger"
              *ngIf="newLibro.id"
              (click)="deleteLibro()"
            >
              <clr-icon shape="trash"></clr-icon> Eliminar
            </button>
          </div>

          <div>
            <button class="btn btn-secondary" (click)="cancelItem()">
              <clr-icon shape="times"></clr-icon> Cerrar
            </button>
          </div>
        </form>
      </div>

      <div class="bg-white" *ngIf="disableForm && inEdit == 'video'">
        <h4>
          <clr-icon shape="file"></clr-icon>
          {{ newVideo.name }} (
          {{ newVideo.id ? "Editar Video" : "Nuevo Video" }} )
        </h4>
        <form clrForm>
          <clr-input-container>
            <label>Nombre</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newVideo.name"
              name="videoname"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-textarea-container>
            <label>Desc.</label>
            <textarea
              clrTextarea
              [(ngModel)]="newVideo.description"
              name="videodescription"
            ></textarea>
          </clr-textarea-container>
          <clr-input-container>
            <label>Id video youtube</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newVideo.url"
              name="videurl"
              required
              (change)="setVideo(newVideo.url)"
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>

          <h5>Vista Previa del video</h5>

          <div class="areaVideo">
            <iframe
              [src]="videoUrlString"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              (contextmenu)="noCMVideo($event)"
            ></iframe>
          </div>

          <div class="pt-1">
            <button class="btn btn-success" (click)="storeVideo(newVideo)">
              <clr-icon shape="add"></clr-icon> Guardar Video
            </button>
            <button
              class="btn btn-danger"
              *ngIf="newVideo.id"
              (click)="deleteVideo()"
            >
              <clr-icon shape="trash"></clr-icon> Eliminar
            </button>
          </div>

          <div>
            <button class="btn btn-secondary" (click)="cancelItem()">
              <clr-icon shape="times"></clr-icon> Cerrar
            </button>
          </div>
        </form>
      </div>

      <div class="bg-white" *ngIf="disableForm && inEdit == 'material'">
        <h4>
          <clr-icon shape="file"></clr-icon>
          {{ newMaterial.name }} (
          {{ newMaterial.id ? "Editar Recurso" : "Nuevo Recurso" }} )
        </h4>
        <form clrForm>
          <clr-input-container>
            <label>Nombre</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newMaterial.name"
              name="materialname"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-select-container>
            <label>Tipo</label>

            <select
              clrSelect
              name="selecttypematerial"
              id="selecttypematerial"
              [(ngModel)]="newMaterial.type"
            >
              <option value="ppt">Presentación Power Point</option>
              <option value="pdf">Documento PDF</option>
              <option value="word">Documento WORD</option>
              <option value="link">Vinculo</option>
              <option value="image">Imagen</option>
              <option value="other">Otro</option>
            </select>
          </clr-select-container>
          <clr-input-container
            *ngIf="newMaterial.type !== '' && newMaterial.type !== 'link'"
          >
            <label>Subir Archivo</label>
            <input
              clrInput
              type="file"
              (change)="upload($event)"
              name="materialfile"
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Url del recurso (descarga)</label>
            <input
              clrInput
              type="text"
              [disabled]="newMaterial.type !== 'link'"
              [(ngModel)]="newMaterial.url"
              name="materialurl"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <div *ngIf="newMaterial.url !== ''">
            <a
              [href]="newMaterial.url"
              class="btn btn-info"
              download
              target="_blank"
            >
              <clr-icon shape="download"></clr-icon> Ver archivo
            </a>
          </div>
          <div class="pt-1">
            <button
              class="btn btn-success"
              (click)="storeMaterial(newMaterial)"
            >
              <clr-icon shape="add"></clr-icon> Guardar Recurso
            </button>
            <button
              class="btn btn-danger"
              *ngIf="newMaterial.id"
              (click)="deleteMaterial()"
            >
              <clr-icon shape="trash"></clr-icon> Eliminar
            </button>
          </div>

          <div>
            <button class="btn btn-secondary" (click)="cancelItem()">
              <clr-icon shape="times"></clr-icon> Cerrar
            </button>
          </div>
        </form>
      </div>

      <div class="bg-white" *ngIf="disableForm && inEdit == 'prueba'">
        <h4>
          <clr-icon shape="file"></clr-icon>
          {{ newTest.name }} (
          {{ newTest.id ? "Editar Prueba" : "Nueva Prueba" }} )
        </h4>
        <form clrForm>
          <clr-input-container>
            <label>Nombre</label>
            <input
              clrInput
              type="text"
              [disabled]="disableFormTest"
              [(ngModel)]="newTest.name"
              name="testname"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-textarea-container>
            <label>Desc.</label>
            <textarea
              clrTextarea
              [(ngModel)]="newTest.description"
              [disabled]="disableFormTest"
              name="testdescription"
            ></textarea>
          </clr-textarea-container>
          <clr-input-container>
            <label>Maxima puntuacion</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newTest.maxScore"
              [disabled]="disableFormTest"
              name="testmaxScore"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Nro de preguntas</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newTest.nroQuestions"
              name="testnroQuestion"
              [disabled]="disableFormTest"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <div class="pt-1">
            <button
              [disabled]="disableFormTest"
              class="btn btn-success"
              (click)="storeTest(newTest)"
            >
              <clr-icon shape="add"></clr-icon> Guardar Prueba
            </button>
            <button
              [disabled]="disableFormTest"
              class="btn btn-danger"
              *ngIf="newTest.id"
              (click)="deleteTest()"
            >
              <clr-icon shape="trash"></clr-icon> Eliminar
            </button>
            <button
              [disabled]="disableFormTest"
              class="btn btn-primary"
              *ngIf="newTest.id"
              (click)="loadBank()"
            >
              <clr-icon shape="help"></clr-icon> Banco de preguntas
            </button>
          </div>

          <div>
            <button
              [disabled]="disableFormTest"
              class="btn btn-secondary"
              (click)="cancelTest()"
            >
              <clr-icon shape="times"></clr-icon> Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="clr-col-12" id="bankSector" #bankSector>
      <div class="bg-white" *ngIf="inBank">
        <h4><clr-icon shape="help"></clr-icon> Banco de preguntas</h4>
        <h5>
          Curso: {{ cursoData.name }}
          <clr-icon shape="play" size="20"></clr-icon> Prueba:
          {{ newTest.name }}
        </h5>
        <div>
          <button class="btn btn-success" (click)="addQuestion()">
            <clr-icon shape="plus"></clr-icon> Agregar Pregunta
          </button>
          <button class="btn btn-primary" (click)="saveBank()">
            <clr-icon shape="floppy"></clr-icon> Guardar
          </button>
          <button class="btn btn-secondary" (click)="closeBank()">
            <clr-icon shape="times"></clr-icon> Cerrar
          </button>
        </div>

        <div class="clr-row">
          <div
            class="clr-col-md-4 clr-row-12"
            *ngFor="let question of bankSelect.questions; index as i"
          >
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">
                  # {{ i + 1 }} - Tipo: {{ "abierta" }}
                </h4>
                <p [innerHTML]="question.text" class="card-text"></p>
              </div>
              <div class="card-block">
                <button
                  class="btn btn-success-online"
                  (click)="editQuestion(question, i)"
                >
                  <clr-icon shape="pencil"></clr-icon> Editar
                </button>
                <button
                  class="btn btn-danger-outline"
                  (click)="deleteQuestion(question)"
                >
                  <clr-icon shape="trash"></clr-icon> Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="modalDeleteCurso">
  <h3 class="modal-title">¿Esta seguro de eliminar este curso?</h3>
  <div class="modal-body">
    <p>Todas las libros, recursos y materiales seran eliminados!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalDeleteCurso = false"
    >
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDeleteCurso()">
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalConfirmDelete">
  <h3 class="modal-title">¿Esta seguro de eliminar esta prueba?</h3>
  <div class="modal-body">
    <p>Todas las preguntas del banco correspondiente seran eliminadas!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalConfirmDelete = false"
    >
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDeleteTest()">
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalQuestion" [clrModalSize]="'lg'">
  <h3 class="modal-title">
    {{ questionData.id !== "" ? "Editar pregunta" : "Agregar Pregunta" }}
  </h3>
  <div class="modal-body">
    <clr-select-container>
      <label>Tipo:</label>
      <select clrSelect [(ngModel)]="questionData.type" name="type">
        <option value="open">Abierta</option>
      </select>
    </clr-select-container>
    <div class="clr-form-control clr-row">
      <ckeditor
        [config]="configEditor"
        [(ngModel)]="questionData.text"
        [editor]="Editor"
        class="ml-1"
      ></ckeditor>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancelAddQuestion()">
      <clr-icon shape="times"></clr-icon> Cancelar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="confirmAddQuestion()"
    >
      <clr-icon shape="floppy"></clr-icon> Guardar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalConfirmDeleteQuestion">
  <h3 class="modal-title">¿Esta seguro de eliminar esta pregunta?</h3>
  <div class="modal-body">
    <p>Tipo: {{ questionData.type }}</p>
    <p>Texto:</p>
    <p [innerHTML]="questionData.text" class="card-text"></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="cancelDeleteQuestion()"
    >
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="confirmDeleteQuestion()"
    >
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>
