div#yumpuMagazineContainer {
  width: calc(100%) !important;
  height: calc(100vh) !important;
}

canvas#yp-player-canvas-hornet_0,
button#yp-nar-0 {
  margin-top: -70px !important;
}
.radioWrapper {
  margin-top: 10px;
}

.areaVideo {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.areaVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
