<h1>
  <clr-icon shape="pinboard" size="30"></clr-icon> Curso: {{ courseData.name }}
</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink (click)="reactiveBook()">
        <clr-icon shape="book"></clr-icon> Libros
      </button>
      <ng-template [(clrIfActive)]="tabBooks">
        <clr-tab-content>
          <div *ngIf="courseData.libros.length > 0">
            <div class="clr-row adjustmobile-m0">
              <div class="clr-col-mf-4 clr-col-12">
                <div class="radioWrapper" *ngIf="inSelectBook">
                  Seleccione un libro
                  <clr-radio-wrapper *ngFor="let libro of courseData.libros">
                    <input
                      type="radio"
                      clrRadio
                      [value]="libro"
                      name="options"
                      [(ngModel)]="bookRadio"
                      (change)="setBook(libro)"
                    />
                    <label>{{ libro.name }} </label>
                  </clr-radio-wrapper>
                </div>

                <div *ngIf="!inSelectBook">
                  <h4>
                    <span
                      class="btn btn-info"
                      *ngIf="courseData.libros.length > 1"
                      (click)="inSelectBook = true"
                    >
                      Cambiar Libro
                    </span>
                    <clr-icon shape="bookmark" size="30"></clr-icon>
                    {{ bookRadio.name }}
                  </h4>
                  <div>
                    {{ bookRadio.description }}
                  </div>
                </div>

                <div
                  *ngIf="!inSelectBook"
                  id="yumpuMagazineContainer"
                  style="width: 620px; height: 997px"
                ></div>
              </div>
            </div>
          </div>

          <div #emptyBooks *ngIf="!(courseData.libros.length > 0)">
            <div *ngIf="inLoad">
              Cargando...
              <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
            </div>
            <div *ngIf="!inLoad">
              <div class="text-center pt-1">
                <clr-icon shape="folder-open" size="60"></clr-icon>
                <h3>Este curso no tiene libros</h3>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="tabVideos = true">
        <clr-icon shape="video-gallery"></clr-icon> Videos
      </button>
      <ng-template [(clrIfActive)]="tabVideos">
        <clr-tab-content>
          <div *ngIf="courseData.videos.length > 0">
            <div class="clr-row adjustmobile-m0">
              <div class="clr-col-mf-4 clr-col-12">
                <div class="radioWrapper" *ngIf="inSelectVideo">
                  Seleccione un video
                  <clr-radio-wrapper *ngFor="let video of courseData.videos">
                    <input
                      type="radio"
                      clrRadio
                      [value]="video"
                      name="options"
                      [(ngModel)]="videoRadio"
                      (change)="setVideo(video)"
                    />
                    <label>{{ video.name }} </label>
                  </clr-radio-wrapper>
                </div>

                <div *ngIf="!inSelectVideo">
                  <h4>
                    <span
                      class="btn btn-info"
                      *ngIf="courseData.videos.length > 1"
                      (click)="inSelectVideo = true"
                    >
                      Cambiar Video
                    </span>
                    <clr-icon shape="video-camera" size="30"></clr-icon>
                    {{ videoRadio.name }}
                  </h4>
                  <div>
                    {{ videoRadio.description }}
                  </div>
                </div>

                <div class="areaVideo" *ngIf="!inSelectVideo">
                  <iframe
                    [src]="stringVideo"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    (contextmenu)="noCMVideo($event)"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
          <div #emptyBooks *ngIf="!(courseData.videos.length > 0)">
            <div *ngIf="inLoad">
              Cargando...
              <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
            </div>
            <div *ngIf="!inLoad">
              <div class="text-center pt-1">
                <clr-icon shape="folder-open" size="60"></clr-icon>
                <h3>Este curso no tiene videos</h3>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="tabMaterials = true">
        <clr-icon shape="folder"></clr-icon>
        Recursos
      </button>
      <ng-template [(clrIfActive)]="tabMaterials">
        <clr-tab-content>
          <div *ngIf="courseData.materiales.length > 0">
            <div class="clr-row adjustmobile-m0">
              <div
                class="clr-col-lg-4 clr-col-sm-6 clr-col-12"
                *ngFor="let material of courseData.materiales"
              >
                <div class="card">
                  <div class="card-header font-weight-bold">
                    {{ material.name }}
                  </div>
                  <div class="card-block">
                    <clr-icon shape="file-settings"></clr-icon>
                    {{ material.type | typematerials }}
                  </div>

                  <div class="card-footer">
                    <a
                      class="btn btn-success"
                      [href]="material.url"
                      target="_blank"
                      download="true"
                      ><clr-icon shape="download"></clr-icon> Descargar</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div #emptyBooks *ngIf="!(courseData.materiales.length > 0)">
            <div *ngIf="inLoad">
              Cargando...
              <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
            </div>
            <div *ngIf="!inLoad">
              <div class="text-center pt-1">
                <clr-icon shape="folder-open" size="60"></clr-icon>
                <h3>Este curso no tiene recursos adicionales</h3>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="tabPruebas = true">
        <clr-icon shape="list"></clr-icon>
        Pruebas
      </button>
      <ng-template [(clrIfActive)]="tabPruebas">
        <clr-tab-content>
          <app-test-list
            *ngIf="courseData.pruebas.length > 0"
            [curso]="courseData"
          ></app-test-list>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>
