<h1>
  <clr-icon shape="administrator" size="20"></clr-icon> Administración <clr-icon shape="play" size="20"></clr-icon>
  Usuarios
</h1>

<div class="content-area bg-ca mx-ca br-ca">

  <button class="btn btn-success" routerLink="/admin/usuarios/nuevo" routerLinkActive="active">
    <clr-icon shape="plus"></clr-icon>Nuevo
  </button>

  <div *ngIf="inLoad">
    Cargando...
    <div class="progress loop"><progress></progress></div>
  </div>

  <clr-datagrid *ngIf="!inLoad">
    <clr-dg-column>Tipo de Identificación</clr-dg-column>
    <clr-dg-column [clrDgField]="'identity'">Documento de Identificación</clr-dg-column>
    <clr-dg-column [clrDgField]="'firstName'">Nombres</clr-dg-column>
    <clr-dg-column [clrDgField]="'lastName'">Apelidos</clr-dg-column>
    <clr-dg-column>Teléfono</clr-dg-column>
    <clr-dg-column [clrDgField]="'email'">Correo Electrónico</clr-dg-column>
    <clr-dg-column [clrDgField]="'type'">Tipo</clr-dg-column>
    <clr-dg-column>Estado</clr-dg-column>
    <clr-dg-column>Editar</clr-dg-column>
    <clr-dg-column>Inhabilitar</clr-dg-column>

    <clr-dg-row *clrDgItems="let user of listData" [clrDgItem]="user">
      <clr-dg-cell>{{user.identityType | typeIdentity}}</clr-dg-cell>
      <clr-dg-cell>{{user.identity}}</clr-dg-cell>
      <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
      <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
      <clr-dg-cell>{{user.phone}}</clr-dg-cell>
      <clr-dg-cell>{{user.email}}</clr-dg-cell>
      <clr-dg-cell>{{user.type | typeUser }}</clr-dg-cell>
      <clr-dg-cell>
        <clr-icon [style.color]="(user.active) ? 'green' : 'red'" shape="user"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell>
        <clr-icon shape="pencil" [routerLink]="'/admin/usuarios/editar/' + user.id" routerLinkActive="active">
        </clr-icon>
      </clr-dg-cell>
      <clr-dg-cell>
        <clr-icon *ngIf="user.active" (click)="enableuser(user)" shape="ban"></clr-icon>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-placeholder>Cargando usuarios....</clr-dg-placeholder>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Usuarios por página</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        de {{pagination.totalItems}} usuarios
      </clr-dg-pagination>
    </clr-dg-footer>

  </clr-datagrid>

</div>
