<h1><clr-icon shape="pinboard" size="30"></clr-icon> Mis Cursos</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <div class="clr-row">
    <div
      class="clr-col-lg-4 clr-col-sm-6 clr-col-12"
      *ngFor="let curso of activesData"
      [style.display]="curso.access ? 'flex' : 'none'"
    >
      <div class="card">
        <div class="card-header font-weight-bold">
          {{ curso.name }}
        </div>

        <div class="card-footer">
          <button
            class="btn btn-success"
            [routerLink]="'/cursos/' + curso.id"
            routerLinkActive="active"
          >
            Ir a este curso
          </button>
        </div>
      </div>
    </div>

    <div #emptyBooks *ngIf="cursosUsuario.length == 0">
      <div *ngIf="inLoad">
        Cargando...
        <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
      </div>
      <div *ngIf="!inLoad">
        <div class="text-center pt-1">
          <clr-icon shape="folder-open" size="60"></clr-icon>
          <h3>Actualmente no esta asignado a un curso</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<h1><clr-icon shape="pinboard" size="30"></clr-icon> Mas Cursos Disponibles</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <div class="clr-row">
    <div
      class="clr-col-lg-4 clr-col-sm-6 clr-col-12"
      *ngFor="let curso of cursosUsuario"
    >
      <div class="card">
        <div class="card-header font-weight-bold">
          {{ curso.name_curso }}
        </div>
        <div
          class="card-block"
          *ngIf="curso.description && curso.description !== ''"
        >
          {{ curso.description }}
        </div>
        <div class="card-footer">
          <button class="btn btn-success" disabled="true">
            Ir a este curso
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
