<router-outlet *ngIf="!authservice.isLoggedIn; else home"></router-outlet>

<ng-template #home>
  <clr-main-container>

    <app-alert [options]="alert"></app-alert>
    <app-header></app-header>
    <div class="content-container">
      <main class="content-area">
        <router-outlet></router-outlet>
      </main>
      <app-menu-mobile></app-menu-mobile>
    </div>

  </clr-main-container>
</ng-template>
