<h1><clr-icon shape="book" size="20"></clr-icon> Libros</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <div class="clr-row">
    <div
      class="clr-col-lg-4 clr-col-sm-6 clr-col-12"
      *ngFor="let book of booksData"
    >
      <div class="card">
        <div class="card-header">
          {{ book.name }}
        </div>
        <div class="card-block" *ngIf="book.description">
          {{ book.description }}
        </div>
        <div class="card-footer">
          <a
            class="btn btn-primary"
            [routerLink]="'/libros/leer/' + book.id"
            routerLinkActive="active"
            >Leer</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
