<h1>
  <clr-icon shape="book" size="20"></clr-icon> Libros
  <clr-icon shape="play" size="20"></clr-icon>
  {{ bookData.name }}
</h1>
<!--
<video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  poster="https://i.ibb.co/BsBkh3x/esconfa-mini.png"
  controlsList="nodownload"
  data-setup="{}"
  (contextmenu)="noCMVideo($event)"
>
  <source
    src="https://cerebralemotion.com/esconfa/video.php?v=SALUDO"
    type="video/mp4"
  />

  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web
    browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video</a
    >
  </p>
</video> -->

<iframe
  width="560"
  height="315"
  src="https://www.youtube-nocookie.com/embed/fPPmVMO3OuA"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  (contextmenu)="noCMVideo($event)"
></iframe>

<div class="content-area bg-ca mx-ca br-ca">
  <div id="yumpuMagazineContainer" style="width: 620px; height: 997px;"></div>
</div>
