div#yumpuMagazineContainer {
  width: calc(100%) !important;
  height: calc(100vh) !important;
}

canvas#yp-player-canvas-hornet_0,
button#yp-nar-0 {
  margin-top: -70px !important;
}

video::-webkit-media-controls-fullscreen-button {
  margin-right: -48px;
  z-index: 10;
  position: relative;
  background: #fafafa;
  background-image: url(https://image.flaticon.com/icons/svg/151/151926.svg);
  background-size: 35%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
