
<clr-alert [clrAlertIcon]="options.icon" [clrAlertType]="options.type" [clrAlertClosable]="false" *ngIf="options.show === true">
    <clr-alert-item>
            <span class="alert-text">
                {{ options.text }}
            </span>
            <!-- <div class="alert-actions">
                <clr-dropdown>
                    <button class="dropdown-toggle" clrDropdownTrigger>
                        Actions
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-right">
                        <a href="..." class="dropdown-item" clrDropdownItem>Shutdown</a>
                        <a href="..." class="dropdown-item" clrDropdownItem>Delete</a>
                        <a href="..." class="dropdown-item" clrDropdownItem>Reboot</a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div> -->
    </clr-alert-item>
</clr-alert>