<h1>
  <clr-icon shape="administrator" size="20"></clr-icon> Administración <clr-icon shape="play" size="20"></clr-icon>
  Cursos
</h1>

<div class="content-area bg-ca mx-ca br-ca">

  <button class="btn btn-success" routerLink="/admin/areas/nuevo" routerLinkActive="active">
    <clr-icon shape="plus"></clr-icon>Nuevo Curso
  </button>

  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-sm-6 clr-col-12" *ngFor="let area of areasData">
      <div class="card">
        <div class="card-header">
          {{ area.name }}
        </div>
        <div class="card-block">
          {{ area.description }}
        </div>
        <div class="card-block">
          <div *ngIf="area.test.length > 0">
            <h5><b>Pruebas</b></h5>
            <ul class="list">
              <li *ngFor="let test of area.test">
                {{ test.name }}
              </li>
            </ul>
          </div>
          <div *ngIf="area.test.length == 0">
            <small>No hay pruebas creadas.</small>
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" [routerLink]=" '/admin/areas/editar/' + area.id "
            routerLinkActive="active">Editar</a>
        </div>
      </div>
    </div>
  </div>
</div>
