<!-- <h1><clr-icon shape="help" size="20"></clr-icon> Mis pruebas</h1> -->

<div class="content-area bg-ca mx-ca br-ca">
  <clr-tabs>
    <clr-tab>
      <button
        clrTabLink
        (click)="tabTestHistory = false; tabTestPending = true"
      >
        Pruebas disponibles
      </button>
      <ng-template [(clrIfActive)]="tabTestPending">
        <clr-tab-content>
          <div
            *ngIf="curso.pruebas.length > 0 && readyData"
            style="margin-top: 10px"
          >
            <div
              class="clr-col-mf-4 clr-col-12"
              *ngFor="let test of curso.pruebas"
            >
              <div
                class="card"
                *ngIf="test.status === undefined || test.status === 0"
              >
                <div class="card-header">
                  <clr-icon shape="list" size="18"></clr-icon> {{ test.name }}
                </div>
                <div class="card-block" *ngIf="test.description">
                  {{ test.description }}
                </div>
                <div class="card-footer">
                  <button
                    *ngIf="userData.type == 1"
                    class="btn btn-info"
                    disabled
                  >
                    <clr-icon shape="no-access"></clr-icon>
                    Solo para usuarios tipo alumno
                  </button>
                  <a
                    class="btn btn-success"
                    *ngIf="test.status === 0 && userData.type == 2"
                    [routerLink]="'/test/realizar/' + test.id_testUser"
                    routerLinkActive="active"
                  >
                    <clr-icon shape="play"></clr-icon>
                    Continuar Prueba
                  </a>
                  <h6 *ngIf="test.dateInitialize && test.status === 0">
                    <clr-icon shape="calendar"></clr-icon> &nbsp; Iniciada:
                    {{ test.dateInitialize | timeago }}
                    (
                    {{ test.dateInitialize | date: "dd-MM-yyyy h:mm:ss a" }} )
                  </h6>
                  <a
                    class="btn btn-primary"
                    *ngIf="test.status === undefined && userData.type == 2"
                    (click)="confirmTest(test)"
                  >
                    <clr-icon shape="bullet-list"></clr-icon>
                    Realizar
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div #emptyTest>
            <div *ngIf="inLoad">
              Cargando...
              <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
            </div>
            <div *ngIf="curso.pruebas.length == 0 && readyData">
              <div class="text-center pt-1">
                <clr-icon shape="checkbox-list" size="60"></clr-icon>
                <h3>Actualmente no tienes pruebas disponibles por realizar.</h3>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button
        clrTabLink
        (click)="tabTestPending = false; tabTestHistory = true"
      >
        Pruebas realizadas
      </button>
      <ng-template [(clrIfActive)]="tabTestHistory">
        <clr-tab-content>
          <div *ngIf="testHistoryData.length > 0">
            <div class="clr-row w-100 adjustmobile-m0">
              <div class="clr-col-12" *ngFor="let test of testHistoryData">
                <div
                  class="card"
                  *ngIf="test.status === 1 || test.status === 2"
                >
                  <div class="card-header">
                    <clr-icon shape="list" size="18"></clr-icon>&nbsp;
                    {{ test.name }}
                    <small> - {{ test.questions.length }} Preguntas </small>
                  </div>
                  <div class="card-block" style="display: none">
                    <a class="btnFree btn btn-outline-success">
                      <clr-icon shape="tag"></clr-icon>
                      Curso: {{ test.name_area }}
                    </a>
                  </div>
                  <app-history-test
                    [test]="test"
                    type="resume"
                    section="alumn"
                  ></app-history-test>
                </div>
              </div>
            </div>
          </div>
          <div #emptyTest [hidden]="hayDataHistory">
            <div *ngIf="inLoadHistory">
              Cargando...
              <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>.
            </div>
            <div *ngIf="!inLoadHistory">
              <div class="text-center pt-1">
                <clr-icon shape="success-standard" size="60"></clr-icon>
                <h3 *ngIf="!inLoadHistory && userData.type == 2">
                  Cuando realizes tus pruebas estaran aqui.
                </h3>
                <h3 *ngIf="userData.type == 1">
                  En esta sección se visualizaran las pruebas realizadas por el
                  alumno.
                </h3>
              </div>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>

<clr-modal [(clrModalOpen)]="modalConfirmTestStart">
  <h3 class="modal-title">¿Esta seguro que desea realizar esta Prueba?</h3>
  <div class="modal-body">
    <h4>Nombre: {{ testSelData.name }}</h4>
    <h5>Curso: {{ curso.name }}</h5>
  </div>
  <div class="modal-footer" *ngIf="inGenerateTest">
    <clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>
  </div>
  <div class="modal-footer" [hidden]="inGenerateTest">
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalConfirmTestStart = false"
    >
      <clr-icon shape="times"></clr-icon> Ahora no
    </button>
    <button type="button" class="btn btn-success" (click)="generateTest()">
      <clr-icon shape="view-list"></clr-icon> Si, Comenzar
    </button>
  </div>
</clr-modal>
