<div class="card-block">
  <h6><clr-icon shape="history"></clr-icon> &nbsp;Historial de la prueba:</h6>
  <ul class="clr-timeline clr-timeline-vertical">
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">
        {{
          (test.dateInitialize !== null && test.dateInitialize !== undefined
            ? test.dateInitialize
            : ""
          ) | timeago
        }}
      </div>
      <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
      <div
        class="clr-timeline-step-body"
        [ngClass]="{ 'w-100': type === 'detail' }"
      >
        <span class="clr-timeline-step-title">Iniciada</span>
        <span class="clr-timeline-step-description">
          <span
            *ngIf="
              test.dateInitialize !== null && test.dateInitialize !== undefined
            "
          >
            <clr-icon shape="calendar" size="20"></clr-icon>
            &nbsp;{{ test.dateInitialize | date: "dd-MM-yyyy h:mm:ss a" }}
          </span>
          <br />
          <div *ngIf="section === 'teacher'">
            <h4>
              <clr-icon size="20" shape="assign-user"></clr-icon>
              {{
                test.userTestData.lastName + " " + test.userTestData.firstName
              }}
            </h4>
            <h5>
              <clr-icon size="20" shape="envelope"></clr-icon>
              {{ test.userTestData.email }}
            </h5>
          </div>
        </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">
        {{ test.dateRealize | timeago }}
      </div>
      <clr-icon
        shape="success-standard"
        aria-current="false"
        aria-label="'Completado'"
      ></clr-icon>
      <div
        class="clr-timeline-step-body"
        [ngClass]="{ 'w-100': type === 'detail' }"
      >
        <span class="clr-timeline-step-title">Entregada</span>
        <span class="clr-timeline-step-description">
          <clr-icon shape="calendar" size="20"></clr-icon>
          &nbsp;{{ test.dateRealize | date: "dd-MM-yyyy h:mm:ss a" }}
          <br />
          <a
            class="btn btn-primary"
            [routerLink]="link"
            routerLinkActive="active"
            *ngIf="
              test.status === 1 && type === 'resume' && section === 'alumn'
            "
          >
            <clr-icon shape="bullet-list"></clr-icon>
            Ver detalle
          </a>
        </span>
      </div>
    </li>
    <li class="clr-timeline-step" *ngIf="test.status === 1">
      <span class="clr-timeline-step-header"></span>
      <clr-icon
        shape="circle"
        aria-current="true"
        aria-label="Current"
      ></clr-icon>
      <div
        class="clr-timeline-step-body"
        [ngClass]="{ 'w-100': type === 'detail' }"
      >
        <span class="clr-timeline-step-title">Pendiente por evaluación</span>
        <span class="clr-timeline-step-description">
          <clr-icon shape="clock" size="20"></clr-icon>
          &nbsp;En espera por evaluación
          <br />
          <a
            class="btn btn-success"
            [routerLink]="link"
            routerLinkActive="active"
            *ngIf="section == 'teacher' && type === 'resume'"
          >
            <clr-icon shape="checkbox-list"></clr-icon>
            Evaluar
          </a>
          <button
            class="btn btn-danger"
            style="display: inline-block;"
            (click)="openModalRemove(test.id)"
            *ngIf="section == 'teacher' && type === 'resume'"
          >
            <clr-icon size="20" shape="trash"></clr-icon>
          </button>
        </span>
      </div>
    </li>
    <li class="clr-timeline-step" *ngIf="test.status === 2">
      <span class="clr-timeline-step-header">{{
        test.dateEvaluate | timeago
      }}</span>
      <clr-icon
        shape="success-standard"
        aria-current="false"
        aria-label="'Completado'"
      ></clr-icon>
      <div
        class="clr-timeline-step-body"
        [ngClass]="{ 'w-100': type === 'detail' }"
      >
        <span class="clr-timeline-step-title"><b>Evaluada</b></span>
        <span class="clr-timeline-step-description">
          <clr-icon shape="calendar" size="20"></clr-icon>
          &nbsp;{{ test.dateEvaluate | date: "dd-MM-yyyy h:mm:ss a" }}
          <br />
          <button class="btn btn-sm btn-success">Nota: {{ test.score }}</button>
          <br />
          <div *ngIf="type === 'detail'">
            <p>
              <b>
                <h4>Comentarios de la evaluación:</h4>
              </b>
            </p>
            <p class="comment-evaluate p-1" [innerHTML]="test.comments"></p>
          </div>
          <h6
            class="btnFree label datesInfo text-primary"
            *ngIf="test.attachs && test.attachs.length > 0 && type === 'resume'"
          >
            <clr-icon shape="file-group"></clr-icon> &nbsp; Adjuntos:
            {{ test.attachs.length }}
          </h6>
          <div
            *ngIf="test.attachs && test.attachs.length > 0 && type === 'detail'"
          >
            <h4>Archivos adjuntos actualmente: {{ test.attachs.length }}</h4>
            <ul>
              <li *ngFor="let file of test.attachs; index as i">
                <a [href]="file.url" target="_blank" download>
                  <b> Archivo {{ i + 1 }} </b>
                </a>
              </li>
            </ul>
          </div>
          <br />
          <a
            class="btn btn-primary"
            [routerLink]="link"
            routerLinkActive="active"
            *ngIf="type === 'resume'"
          >
            <clr-icon shape="bullet-list"></clr-icon>
            Ver detalle
          </a>
        </span>
      </div>
    </li>
  </ul>
</div>

<clr-modal [(clrModalOpen)]="modalRemove">
  <h3 class="modal-title">¿Esta seguro de eliminar esta prueba?</h3>
  <div class="modal-body">
    <p>
      Esta operación no podra ser revertida!
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalRemove = false">
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="removeTest()">
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>
