<nav class="sidenav" [clr-nav-level]="1">
  <section class="sidenav-content">
    <a href="#" class="nav-link"><span class="nav-text">Inicio</span></a>
    <a
      *ngIf="userLoad && userData.type === 2"
      routerLink="/cursos"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Mis Cursos</span></a
    >
    <a
      *ngIf="userLoad && (userData.type == 1 || userData.type == 3)"
      routerLink="/profesor/test/lista"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Pruebas</span></a
    >
    <a
      *ngIf="userLoad && userData.type == 1"
      routerLink="/admin/especialidades"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Especialidades</span></a
    >
    <a
      *ngIf="userLoad && (userData.type == 1 || userData.type == 4)"
      routerLink="/admin/cursos"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Cursos</span></a
    >
    <a
      *ngIf="userLoad && userData.type == 1"
      routerLink="/admin/usuarios"
      routerLinkActive="active"
      class="nav-link"
      ><span class="nav-text">Usuarios</span></a
    >
    <a routerLink="/usuario/perfil" routerLinkActive="active" class="nav-link"
      ><span class="nav-text">
        <clr-icon shape="user"></clr-icon> Mi perfil
      </span></a
    >
    <a (click)="authservice.LogOut()" class="nav-link"
      ><span class="nav-text">
        <clr-icon shape="logout"></clr-icon> Cerrar sesion
      </span></a
    >
  </section>
</nav>
