@import "~ngx-ui-switch/ui-switch.component.scss";
html {
  overflow: hidden !important;
}

.bg-ca {
  background: #fafafa;
}

.mx-ca {
  margin-top: 10px;
  margin-bottom: 10px;
}

.br-ca {
  border-radius: 4px;
}

.pt-1 {
  padding-top: 1rem;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.main-container {
  background: rgb(210, 210, 210);
  background: linear-gradient(
    180deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(223, 223, 223, 1) 26%,
    rgba(231, 231, 231, 1) 100%
  );
}

main > app-courses-user > h1 {
  margin-top: 0;
}

.card {
  margin-top: initial;
  margin-bottom: 1rem;
}

.text-danger {
  color: #e22800 !important;
}

.text-primary {
  color: #0077b8 !important;
}

.text-success {
  color: #2e8500 !important;
}

.modal-header .close clr-icon {
  fill: #e22800 !important;
}

.header.header-5,
header.header-5 {
  background-color: #106371 !important;
}

@media screen and (max-width: 768px) {
  .header-nav,
  .hideMobile {
    display: none !important;
  }

  .content-area.bg-ca,
  .adjustmobile {
    margin-left: -25px;
    margin-right: -25px;
  }

  .adjustmobile-m0 {
    margin-left: 0;
    margin-right: 0;
  }

  .nav .nav-item {
    margin-right: 0.25rem;
  }
}

@media screen and (min-width: 768px) {
  .sidenav {
    display: none !important;
  }
}

.btnFree.btn,
.btnFree.label {
  white-space: initial !important;
  line-height: 1rem !important;
  height: initial !important;
}

span.btnFree.label {
  background: #f1f1f1;
  color: #2f2f2f !important;
  border: 2px solid white !important;
}
.btn-transparent {
  background: transparent !important;
  border: none;
  outline: none;
}
.text-white {
  color: white !important;
}
.header .branding .title,
header .branding .title,
.header .header-actions .nav-link,
.header .header-nav .nav-link,
.header .settings .nav-link,
header .header-actions .nav-link,
header .header-nav .nav-link,
header .settings .nav-link,
.header .header-actions > .dropdown > .dropdown-toggle,
.header .settings > .dropdown > .dropdown-toggle,
header .header-actions > .dropdown > .dropdown-toggle,
header .settings > .dropdown > .dropdown-toggle {
  /*color: #282727  !important;*/
}

button:focus,
.dropdown-menu .btn-danger:focus,
.dropdown-menu .btn-info:focus,
.dropdown-menu .btn-link:focus,
.dropdown-menu .btn-outline-danger:focus,
.dropdown-menu .btn-outline-primary:focus,
.dropdown-menu .btn-outline-secondary:focus,
.dropdown-menu .btn-outline-success:focus,
.dropdown-menu .btn-outline-warning:focus,
.dropdown-menu .btn-outline:focus,
.dropdown-menu .btn-primary:focus,
.dropdown-menu .btn-secondary:focus,
.dropdown-menu .btn-success:focus,
.dropdown-menu .btn-warning:focus,
.dropdown-menu .btn:focus,
.dropdown-menu .dropdown-item:focus {
  outline: 1px dotted #b5b5b5;
}

.login-wrapper {
  background: rgb(115, 115, 115);
  background: linear-gradient(
    90deg,
    rgba(115, 115, 115, 1) 0%,
    rgba(207, 207, 207, 1) 53%,
    rgba(231, 231, 231, 1) 100%
  );
  background-size: cover;
  background-position: center center;
}

.login-wrapper .login {
  background: #f1f1f1e0;
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
}

.divider {
  border: 1px solid #d6d6d6;
  margin-top: 32px;
}

.alert {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 60px;
}

.ck-editor__editable_inline {
  min-height: 80px;
}

.login-wrapper .login .login-group {
  padding-top: 1rem;
}

.testUser .card .card-header span {
  float: left;
  margin-right: 4px;
}

.card app-history-test h3,
.card app-history-test h4,
.card app-history-test h5 {
  margin-top: 0 !important;
}

.datesInfo {
  font-size: 0.7rem !important;
  padding: 5px !important;
}

.badge {
  font-size: 0.7rem !important;
  padding: 0.4rem 0.3rem !important;
}

.clr-timeline-step clr-icon {
  min-width: initial;
}

.clr-timeline-step a clr-icon {
  width: 0;
  color: white;
  min-width: 18px;
}

.comment-evaluate,
.answer-html {
  background-color: #f3f3f3;
  border: 1px solid #2e8500;
}

.comment-evaluate > p,
.answer-html > p {
  margin-top: 0 !important;
}

.answer-html {
  background-color: #fbfbfb;
  border: 1px solid #5e9ca7;
}

app-coursesactivelist
  .clr-form-horizontal
  .clr-form-control
  > .clr-control-label,
app-coursesactivelist
  .clr-form-horizontal
  .clr-form-control
  > .clr-form-control.clr-form-control-multi
  .clr-control-label {
  width: 30rem;
}

.sectorTablaUSersMatriculados {
  height: calc(100vh - 300px);
  overflow: auto;
}
