<h1>
  <clr-icon shape="administrator" size="20"></clr-icon> Administración
  <clr-icon shape="play" size="20"></clr-icon>
  Registro de Usuario
</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <button
    class="btn btn-primary"
    routerLink="/admin/usuarios"
    routerLinkActive="active"
  >
    <clr-icon shape="list"></clr-icon>Ir a Listado
  </button>

  <div *ngIf="inLoad">
    Cargando...
    <div class="progress loop"><progress></progress></div>
  </div>
  <div class="clr-row" *ngIf="!inLoad">
    <div class="clr-col-md-6 crl-row-12">
      <form clrForm>
        <clr-select-container>
          <label>Tipo Doc.</label>
          <select
            clrSelect
            [(ngModel)]="registerData.identityType"
            name="identityType"
          >
            <option value="dni">DNI</option>
            <option value="passport">Pasaporte</option>
            <option value="ce">Carnet de Extranjeria</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <label>Número</label>
          <input
            clrInput
            type="text"
            autofocus
            [(ngModel)]="registerData.identity"
            name="identity"
            required
            (blur)="
              showError.identity = generalservice.fieldError(
                'text',
                registerData.identity,
                8
              )
            "
          />
        </clr-input-container>
        <span class="text-danger" *ngIf="showError.identity"
          >Este campo es necesario, minimo 8 caracteres.</span
        >
        <clr-input-container>
          <label>Nombres</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="registerData.firstName"
            name="firstName"
            required
            (blur)="
              showError.firstName = generalservice.fieldError(
                'text',
                registerData.firstName
              )
            "
          />
        </clr-input-container>
        <span class="text-danger" *ngIf="showError.firstName"
          >Este campo es necesario.</span
        >
        <clr-input-container>
          <label>Apellidos</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="registerData.lastName"
            name="lastName"
            required
            (blur)="
              showError.lastName = generalservice.fieldError(
                'text',
                registerData.lastName
              )
            "
          />
        </clr-input-container>
        <span class="text-danger" *ngIf="showError.lastName"
          >Este campo es necesario.</span
        >
        <clr-input-container>
          <label>Teléfono</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="registerData.phone"
            prefix="+51 "
            mask="000 000 000"
            name="phone"
          />
        </clr-input-container>

        <clr-input-container>
          <label>Correo Electrónico</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="registerData.email"
            name="email"
          />
        </clr-input-container>
        <clr-textarea-container>
          <label>Comentario</label>
          <textarea
            clrTextarea
            [(ngModel)]="registerData.comment"
            name="comment"
          ></textarea>
        </clr-textarea-container>

        <!-- 
        <div class="clr-form-control clr-row">
          <label class="clr-control-label clr-col-12 clr-col-md-2"
            >Vincular Cursos</label
          >
          <clr-dropdown class="clr-control-container clr-col-md-10 clr-col-12">
            <button class="btn btn-outline-primary" clrDropdownTrigger>
              Seleccionar Curso
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
              <div
                clrDropdownItem
                *ngFor="let area of areasData"
                (click)="storeArea(area)"
              >
                {{ area.name }}
              </div>
            </clr-dropdown-menu>

            <ul class="list">
              <li *ngFor="let area of registerData.areas">
                {{ area.name_area }}
                <clr-icon (click)="deleteArea(area)" shape="trash"></clr-icon>
              </li>
            </ul>
          </clr-dropdown>
        </div>
        

        <div class="clr-form-control clr-row">
          <label class="clr-control-label clr-col-12 clr-col-md-2"
            >Vincular Cursos</label
          >
          <clr-dropdown class="clr-control-container clr-col-md-10 clr-col-12">
            <button class="btn btn-outline-primary" clrDropdownTrigger>
              Seleccionar Cursos
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
              <div
                clrDropdownItem
                *ngFor="let curso of coursesData"
                (click)="storeCurso(curso)"
              >
                {{ curso.name }}
              </div>
            </clr-dropdown-menu>

            <ul class="list">
              <li *ngFor="let curso of registerData.cursos">
                {{ curso.name_curso }}
                <clr-icon (click)="deleteCurso(curso)" shape="trash"></clr-icon>
              </li>
            </ul>
          </clr-dropdown>
        </div>

        -->

        <clr-select-container *ngIf="registerData.id">
          <label>Estatus</label>
          <select
            clrSelect
            [(ngModel)]="registerData.active"
            name="indetityType"
          >
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Inactivo</option>
          </select>
        </clr-select-container>

        <clr-select-container>
          <label>Tipo Usuario</label>
          <select clrSelect [(ngModel)]="registerData.type" name="type">
            <option [ngValue]="1">Administrador</option>
            <option [ngValue]="2">Alumno</option>
            <option [ngValue]="3">Profesor</option>
            <option [ngValue]="4">Coordinador</option>
          </select>
        </clr-select-container>

        <div *ngIf="registerData.id">
          <p>
            <b>Creado por:</b> {{ registerData.name_user_create }}
            |
            {{ registerData.date_create | date: "dd-MM-yyyy h:mm:ss a" }}
          </p>
        </div>

        <div *ngIf="registerData.date_edit">
          <div>
            <b>Editado por:</b>{{ registerData.name_user_edit }} |
            {{ registerData.date_edit | date: "dd-MM-yyyy h:mm:ss a" }}
          </div>
        </div>

        <small *ngIf="registerData.type === 2">
          Para el primer inicio de sesion en el sistema debe acceder por la
          opcion REGISTRARSE en la pantalla de inicio de sesión y terminar el
          registro del usuario con un nro de boleta valido.
        </small>

        <small *ngIf="registerData.type === 1 || registerData.type === 3">
          Para el primer inicio de sesion en el sistema debe acceder por la
          opcion REGISTRARSE en la pantalla de inicio de sesión (adminsitrador).
        </small>

        <div
          style="text-align: center; display: none;"
          *ngIf="registerData.type === 1 || registerData.type === 3"
        >
          <h4>
            Codigo de registro: <b>{{ registerData.code }}</b>
          </h4>
        </div>

        <div class="pt-1">
          <button class="btn btn-success" (click)="validStoreStep1()">
            <clr-icon shape="floppy"></clr-icon> Guardar Usuario
          </button>
        </div>
      </form>
    </div>
    <div
      class="clr-col-md-6 crl-row-12"
      *ngIf="this.registerData.id && registerData.type === 2"
    >
      <form clrForm>
        <h3>Registro de pagos</h3>
        <clr-input-container>
          <label>Nro de Boleta</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="registerPay.ticket"
            name="ticket"
            required
          />
          <clr-control-error>Este campo es necesario</clr-control-error>
        </clr-input-container>

        <clr-textarea-container>
          <label>Comentario</label>
          <textarea
            clrTextarea
            [(ngModel)]="registerPay.comment"
            name="comment"
          ></textarea>
        </clr-textarea-container>

        <button class="btn btn-success" (click)="checkPayExist()">
          <clr-icon shape="plus"></clr-icon> Agregar Pago
        </button>
        <div>
          <ul class="list">
            <li *ngFor="let pago of listPays">
              {{ pago.ticket }} - {{ pago.comment
              }}<clr-icon (click)="deletePay(pago)" shape="trash"></clr-icon>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
