<h1>
  <clr-icon shape="administrator" size="20"></clr-icon> Administración
  <clr-icon shape="play" size="20"></clr-icon> Curso
</h1>

<div class="content-area bg-ca mx-ca br-ca">
  <button
    class="btn btn-primary"
    routerLink="/admin/areas"
    routerLinkActive="active"
  >
    <clr-icon shape="list"></clr-icon>Ir a listado
  </button>

  <div class="clr-row">
    <div class="clr-col-md-6 clr-col-12">
      <h4>Curso: {{ areaData.name }}</h4>
      <form clrForm>
        <clr-input-container>
          <label>Nombre</label>
          <input
            clrInput
            type="text"
            [disabled]="disableForm"
            [(ngModel)]="areaData.name"
            name="name"
            required
          />
          <clr-control-error>Este campo es necesario</clr-control-error>
        </clr-input-container>
        <clr-textarea-container>
          <label>Desc.</label>
          <textarea
            clrTextarea
            [disabled]="disableForm"
            [(ngModel)]="areaData.description"
            name="description"
          ></textarea>
        </clr-textarea-container>

        <div class="clr-form-control clr-row" *ngIf="areaData.id">
          <label class="clr-control-label clr-col-12 clr-col-md-2">
            Pruebas del curso
          </label>
          <div>
            <button
              class="btn btn-outline"
              (click)="formNewTest()"
              [disabled]="disableForm"
            >
              <clr-icon shape="add"></clr-icon>Agregar Prueba a este curso
            </button>
            <ul class="list">
              <li
                *ngFor="let test of areaData.test; index as i"
                (click)="loadDetailTest(test, i)"
              >
                <button href="#" class="btn btn-link" [disabled]="disableForm">
                  <clr-icon shape="e-check"></clr-icon> {{ test.name }}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="pt-1">
          <button
            class="btn btn-success"
            (click)="store()"
            [disabled]="disableForm"
          >
            <clr-icon shape="floppy"></clr-icon> Guardar
          </button>
          <button
            class="btn btn-danger"
            (click)="deletePrueba()"
            [disabled]="disableForm"
            *ngIf="areaData.id"
          >
            <clr-icon shape="trash"></clr-icon> Eliminar
          </button>
        </div>
      </form>
    </div>
    <div class="clr-col-md-6 clr-col-12">
      <div class="bg-white" *ngIf="disableForm">
        <h4>
          Prueba: {{ newTest.name }} ( {{ newTest.id ? "Editar" : "Nueva" }} )
        </h4>
        <form clrForm>
          <clr-input-container>
            <label>Nombre</label>
            <input
              clrInput
              type="text"
              [disabled]="disableFormTest"
              [(ngModel)]="newTest.name"
              name="testname"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-textarea-container>
            <label>Desc.</label>
            <textarea
              clrTextarea
              [(ngModel)]="newTest.description"
              [disabled]="disableFormTest"
              name="testdescription"
            ></textarea>
          </clr-textarea-container>
          <clr-input-container>
            <label>Maxima puntuacion</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newTest.maxScore"
              [disabled]="disableFormTest"
              name="testmaxScore"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Nro de preguntas</label>
            <input
              clrInput
              type="text"
              [(ngModel)]="newTest.nroQuestions"
              name="testnroQuestion"
              [disabled]="disableFormTest"
              required
            />
            <clr-control-error>Este campo es necesario</clr-control-error>
          </clr-input-container>
          <div class="pt-1">
            <button
              [disabled]="disableFormTest"
              class="btn btn-success"
              (click)="storeTest(newTest)"
            >
              <clr-icon shape="add"></clr-icon> Guardar Prueba
            </button>
            <button
              [disabled]="disableFormTest"
              class="btn btn-danger"
              *ngIf="newTest.id"
              (click)="deleteTest()"
            >
              <clr-icon shape="trash"></clr-icon> Eliminar
            </button>
            <button
              [disabled]="disableFormTest"
              class="btn btn-primary"
              *ngIf="newTest.id"
              (click)="loadBank()"
            >
              <clr-icon shape="help"></clr-icon> Banco de preguntas
            </button>
          </div>

          <div>
            <button
              [disabled]="disableFormTest"
              class="btn btn-secondary"
              (click)="cancelTest()"
            >
              <clr-icon shape="times"></clr-icon> Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="clr-col-12" id="bankSector" #bankSector>
      <div class="bg-white" *ngIf="inBank">
        <h4><clr-icon shape="help"></clr-icon> Banco de preguntas</h4>
        <h5>
          Curso {{ areaData.name }}
          <clr-icon shape="play" size="20"></clr-icon> Prueba:
          {{ newTest.name }}
        </h5>
        <div>
          <button class="btn btn-success" (click)="addQuestion()">
            <clr-icon shape="plus"></clr-icon> Agregar Pregunta
          </button>
          <button class="btn btn-primary" (click)="saveBank()">
            <clr-icon shape="floppy"></clr-icon> Guardar
          </button>
          <button class="btn btn-secondary" (click)="closeBank()">
            <clr-icon shape="times"></clr-icon> Cerrar
          </button>
        </div>

        <div class="clr-row">
          <div
            class="clr-col-md-4 clr-row-12"
            *ngFor="let question of bankSelect.questions; index as i"
          >
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">
                  # {{ i + 1 }} - Tipo: {{ "abierta" }}
                </h4>
                <p [innerHTML]="question.text" class="card-text"></p>
              </div>
              <div class="card-block">
                <button
                  class="btn btn-success-online"
                  (click)="editQuestion(question, i)"
                >
                  <clr-icon shape="pencil"></clr-icon> Editar
                </button>
                <button
                  class="btn btn-danger-outline"
                  (click)="deleteQuestion(question)"
                >
                  <clr-icon shape="trash"></clr-icon> Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="modalDeletePrueba">
  <h3 class="modal-title">¿Esta seguro de eliminar esta area?</h3>
  <div class="modal-body">
    <p>
      Todas las pruebas y preguntas del banco correspondiente seran eliminadas!
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalDeletePrueba = false"
    >
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDeleteArea()">
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalConfirmDelete">
  <h3 class="modal-title">¿Esta seguro de eliminar esta prueba?</h3>
  <div class="modal-body">
    <p>Todas las preguntas del banco correspondiente seran eliminadas!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="modalConfirmDelete = false"
    >
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDeleteTest()">
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalQuestion" [clrModalSize]="'lg'">
  <h3 class="modal-title">
    {{ questionData.id !== "" ? "Editar pregunta" : "Agregar Pregunta" }}
  </h3>
  <div class="modal-body">
    <clr-select-container>
      <label>Tipo:</label>
      <select clrSelect [(ngModel)]="questionData.type" name="type">
        <option value="open">Abierta</option>
      </select>
    </clr-select-container>
    <div class="clr-form-control clr-row">
      <ckeditor
        [config]="configEditor"
        [(ngModel)]="questionData.text"
        [editor]="Editor"
      ></ckeditor>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancelAddQuestion()">
      <clr-icon shape="times"></clr-icon> Cancelar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="confirmAddQuestion()"
    >
      <clr-icon shape="floppy"></clr-icon> Guardar
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalConfirmDeleteQuestion">
  <h3 class="modal-title">¿Esta seguro de eliminar esta pregunta?</h3>
  <div class="modal-body">
    <p>Tipo: {{ questionData.type }}</p>
    <p>Texto:</p>
    <p [innerHTML]="questionData.text" class="card-text"></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="cancelDeleteQuestion()"
    >
      <clr-icon shape="times"></clr-icon> No, Cancelar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="confirmDeleteQuestion()"
    >
      <clr-icon shape="trash"></clr-icon> Si, Eliminar
    </button>
  </div>
</clr-modal>
